#fondo{

  background: white  url("http://getskeleton.com/examples/landing/images/values-bg.jpg");;
  height: 650px;
}
.text-1
{
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    left: 500px;
    top: 230px;
}
.text-2
{
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 150px;
    color: black;
}
.text-3
{
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 40px;
    color: white;
}
.placeholder-1{
    position: absolute;
left: 115px;
top: 2200px;
height: 300px;
}
.placeholder-2{
    position: absolute;
left: 720px;
top: 2200px;
height: 300px;
}
.iphone-1{
    position: absolute;
    left: 910px;
    top: 220px;
    height: 450px;
}
.iphone-2{
    position: absolute;
    left: 850px;
    top: 200px;
    height: 500px;
}
.margin {
    background-color: white;
    height: 650px;
}
body{
    background-color: white;
}
.text-4{
    position: absolute;
width: 300px;
left: 270px;
}
.text-5{
    position: absolute;
width: 300px;
left: 570px;
}
.text-6{
    position: absolute;
width: 300px;
left: 870px;
}

button{
    color: #FFF;
background-color: #33C3F0;
border-color: #33C3F0;
border-radius: 100px;
}