.width-50 img{
    border: solid;
    width: 100%;
}
.width-50 button{
    display: block;
}
.mb-50px{
    margin-bottom: 50px;
}
.color-editar{
  background-color:green;
}
.color-eliminar{

    background-color:red;
}
.color-link{
color:rgb(59, 59, 233)

}
