.width-50 img{
    border: solid;
    width: 100%;
}
.width-50 button{
    display: block;
}
.mb-50px{
    margin-bottom: 50px;
}

.hr-pequeno{

    width: 80px;
    margin: 0px 0px 14px 0px;

}