section.inicio-1 { /* le da background a la seccion 1*/
    padding: 40px;
    background-color: rgb(96, 96, 96, 0.25);
    text-align: center;
}

section.inicio-2  { /*le da background a la seccion 2*/ 
    padding: 40px;
    background-color: #ffffff;
    text-align: center;
}

section.inicio-3 {/*le da background a la seccion 3*/
    padding: 40px;
    background-color: rgb(96, 96, 96, 0.25);
    text-align: center;
}


/* le da border a la imagenes e la seccion 2*/

section.inicio-2 img{
    border: solid;
    border-width: thin;
    width: 100%;
    height: 250px;
    }
    



/*le da border al slider y tamano a la imagne*/
.slider img {
    height: 200px;
    width: 100%;
    border: solid;
    border-width: 1px;
}

/* le da border a la imagenes e la seccion 2*/

section.inicio-2 img{
border: solid;
border-width: thin;
width: 100%;
height: 250px;
}
